@model CalculatorFP.ViewModels.VoteViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Save", "Vote"))
{

    <div class="form-group">
        @Html.LabelFor(v => v.Name)
        @Html.HiddenFor(v => v.Name)
        @Html.Label(Model.Name, new { @type = "number", @class = "form-control" })
        @Html.ValidationMessageFor(v => v.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Surname)
        @Html.HiddenFor(v => v.Surname)
        @Html.Label(Model.Surname, new { @type = "number", @class = "form-control" })
        @Html.ValidationMessageFor(v => v.Surname)

    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.PersonalNumber)
        @Html.HiddenFor(v => v.PersonalNumber)
        @Html.Label(Model.PersonalNumber, new { @type = "number", @class = "form-control" })
        @Html.ValidationMessageFor(v => v.PersonalNumber)

    </div>

    <div class="editor-field">

        @Html.CheckBoxListFor(model => model.Selected, model => model.Candidates, x => x.Id, x => x.Name, model => model.IsSelected, MvcCheckBoxList.Model.Position.Vertical)
    </div>



    <button type="submit" id="save" class="btn btn-primary" onclick="return confirm('Are you sure you want to vote for this candidate?')">Save</button>

}

